body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 20px;
}
.footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    flex: 1;
  
    justify-content: space-between;

}
.board{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: grid;
}